<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="16" src="assets/img/icon.png"/>
            NEM Ion2 Seed
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list no-lines>
        <ion-item>
            <h1>Transactions List</h1>
            <br/><h2>Fetch the account transaction list <br/>Testnet accounts only <br/>Sample address:
            <br/><code>TDM3DO-ZM5WJ3-ZRBPSM-YRU6JS-WKUCAH-5VIPOF-4W7K</code></h2>

        </ion-item>
        <ion-item>
            <ion-input #address_transactions type="text" placeholder="Address"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button block app-button (click)="startFetchingTransactions(address_transactions.value)">
                Fetch
            </button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="transactions?.length != 0">
        <button ion-item
                *ngFor="let transaction of allTransactions">
            <p>{{transaction | transactionType}}</p>
            Signer: <span class="truncate"> {{transaction.signer.address.pretty()}} </span>
            <br/> Timestamp: {{transaction.timeWindow.timeStamp.toString()}}
        </button>

    </ion-list>
    <ion-item *ngIf="allTransactionsPaginated">
        <button ion-button block app-button (click)="fetchMoreTransactions()">
            See more transactions
        </button>
    </ion-item>
</ion-content>
